@using System.Globalization
@using EMM.FoNeke.Common.Extentions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Form Elements - Ace Admin</title>

    <meta name="description" content="Common form elements and layouts" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/Content/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/chosen.css" />
    <link rel="stylesheet" href="~/Content/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/Content/assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="~/Content/assets/css/colorpicker.css" />
    @RenderSection("Style", false)
    <!-- Kendo styles -->
    <link href="~/Content/kendo/2014.1.528/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.528/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.528/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.528/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />


    <!-- splitter -->
    <link rel="stylesheet" href="~/Content/splitter.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/assets/css/uncompressed/ace.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../../Content/assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../../Content/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <!-- ace settings handler -->
    <script src="~/Content/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        <script src="../../Content/assets/js/html5shiv.js"></script>
        <script src="../../Content/assets/js/respond.min.js"></script>
    <![endif]-->
    <script>
        var twoLetterISOLanguageName = "@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)";
        var shortDatePattern = "@Html.ConvertToJQueryDateFormat()";
    </script>
</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    @RenderPage("_Header.cshtml")
    <!-- /section:basics/navbar.layout -->

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed'); } catch (e) { }
        </script>

        <!-- #section:basics/sidebar -->

        @RenderPage("_LeftMenu.cshtml")

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <!-- #section:basics/content.breadcrumbs -->
            @if (Request.IsAuthenticated)
            {
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed'); } catch (e) { }
                    </script>
                    <!-- breadcrumb -->
                    @Html.MvcSiteMap().SiteMapPath("BreadcrumbSiteMapPathHelperModel")
                    <!-- /.breadcrumb -->
                    <!-- #section:basics/content.searchbox -->
                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div><!-- /.nav-search -->
                    <!-- /section:basics/content.searchbox -->
                </div>
            }
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                @if (Request.IsAuthenticated)
                {
                    <!-- #section:settings.box -->
                    @*<div class="ace-settings-container" id="ace-settings-container">
                        <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                            <i class="ace-icon fa fa-cog bigger-150"></i>
                        </div>

                        <div class="ace-settings-box clearfix" id="ace-settings-box">
                            <div class="pull-left width-50">
                                <!-- #section:settings.skins -->
                                <div class="ace-settings-item">
                                    <div class="pull-left">
                                        <select id="skin-colorpicker" class="hide">
                                            <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                        </select>
                                    </div>
                                    <span>&nbsp; Choose Skin</span>
                                </div>

                                <!-- /section:settings.skins -->
                                <!-- #section:settings.navbar -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                                </div>

                                <!-- /section:settings.navbar -->
                                <!-- #section:settings.sidebar -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                                </div>

                                <!-- /section:settings.sidebar -->
                                <!-- #section:settings.breadcrumbs -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                                </div>

                                <!-- /section:settings.breadcrumbs -->
                                <!-- #section:settings.rtl -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                                </div>

                                <!-- /section:settings.rtl -->
                                <!-- #section:settings.container -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                                    <label class="lbl" for="ace-settings-add-container">
                                        Inside
                                        <b>.container</b>
                                    </label>
                                </div>

                                <!-- /section:settings.container -->
                            </div><!-- /.pull-left -->

                            <div class="pull-left width-50">
                                <!-- #section:basics/sidebar.options -->
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
                                    <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
                                    <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
                                    <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                                </div>

                                <!-- /section:basics/sidebar.options -->
                            </div><!-- /.pull-left -->
                        </div><!-- /.ace-settings-box -->
                    </div>*@
                    <!-- /.ace-settings-container -->
                    <!-- /section:settings.box -->
                    @*<div class="page-header">
                            <h1>
                                Form Elements
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    Common form elements and layouts
                                </small>
                            </h1>
                        </div>*@
                    <!-- /.page-header -->
                }
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <!-- basic jQuery scripts -->
                        <!--http://stackoverflow.com/questions/13785587/if-ie-not-working-->
                        <!--[if !IE]><!-->
                        <script type="text/javascript">
                            window.jQuery || document.write("<script src='../../Content/assets/js/jquery.min.js'>" + "<" + "/script>");
                        </script>
                        <!-- <![endif]-->
                        <!--[if IE]>
                            <script type="text/javascript">
                                window.jQuery || document.write("<script src='../../Content/assets/js/jquery1x.min.js'>"+"<"+"/script>");
                            </script>
                        <![endif]-->
                        <script type="text/javascript">
                            if ('ontouchstart' in document.documentElement) document.write("<script src='../../Content/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
                        </script>
                        <script src="~/Content/assets/js/bootstrap.min.js"></script>
                        <!-- basic jQuery scripts -->
                        @*<div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">
                                    <i class="ace-icon fa fa-times"></i>
                                </button>

                                <strong>
                                    <i class="ace-icon fa fa-times"></i>
                                    Oh snap!
                                </strong>

                                Change a few things up and try submitting again.
                                <br>
                            </div>*@

                        @RenderBody()

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->


        @*<div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Ace</span>
                        Application &copy; 2013-2014
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>*@



        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
        <script src="../../Content/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Content/assets/js/chosen.jquery.min.js"></script>
    <script src="~/Content/assets/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/Content/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/assets/js/date-time/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/date-time/moment.min.js"></script>
    <script src="~/Content/assets/js/date-time/daterangepicker.min.js"></script>
    <script src="~/Content/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/assets/js/jquery.knob.min.js"></script>
    <script src="~/Content/assets/js/jquery.autosize.min.js"></script>
    <script src="~/Content/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/Content/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-tag.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Content/assets/js/additional-methods.min.js"></script>
    <script src="~/Content/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/Content/assets/js/select2.min.js"></script>

    @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName != "en")
    {
        <script src="~/Content/assets/js/date-time/locales/bootstrap-datepicker.@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName).js"></script>
        <script src="~/Content/assets/js/localization/messages_@(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName).js"></script>
    }


    <!-- splitter -->
    <script src="~/Scripts/splitter.min.js"></script>

    <!-- ace scripts -->
    <script src="~/Content/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/assets/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->

    <script src="~/Scripts/kendo/2014.1.528/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2014.1.528/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/Controls/Grid.js"></script>
    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/App-Plugin.js"></script>
    <script src="~/Scripts/App-Grid.js"></script>

    @RenderSection("Scripts", false)
    @Html.RenderScripts()


    <div id="cartouche-dialog" class="hide"></div>
</body>
</html>

