@model FoNeke.Web.Controllers.Account.LoginViewModel

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Login Page - Ace Admin</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/assets/css/ace.min.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../../Content/assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../../Content/assets/css/ace-ie.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/ace.onpage-help.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../Content/assets/js/html5shiv.js"></script>
    <script src="../../Content/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-globe blue"></i>
                                <span class="red">Fo<span class="grey" id="id-text2">Néke</span></span>
                                
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; Fonéke Inc</h4>
                        </div>

                        <div class="space-6"></div>
                        
                        <div class="position-relative">
                            <div id="login-box" class="login-box @(Model == null ||(Model.RegisterViewModel == null && Model.ForgotPasswordViewModel == null) ? "visible" : "") widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            Veuillez saisir vos informations
                                        </h4>

                                        <div class="space-6"></div>
                                        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            <form>
                                                <fieldset>
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="space"></div>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Adresse mail" })
                                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                            <i class="ace-icon fa fa-user"></i>
                                                        </span>
                                                    </label>

                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Mot de passe" })
                                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                            <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                    </label>

                                                    <div class="space"></div>

                                                    <div class="clearfix">
                                                        <label class="inline">
                                                            @Html.Raw(Html.CheckBoxFor(m => m.RememberMe, new { @class = "ace", @style = "z-index: 9;" }).ToHtmlString().Replace("><", "><span class='lbl'></span><"))
                                                            <span class="lbl"> Se souvenir de moi</span>
                                                        </label>

                                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                            <i class="ace-icon fa fa-key"></i>
                                                            <span class="bigger-110">Connexion</span>
                                                        </button>
                                                    </div>

                                                    <div class="space-4"></div>
                                                </fieldset>
                                            </form>
                                        }
                                        @*<div class="social-or-login center">
                                            <span class="bigger-110">Or Login Using</span>
                                        </div>

                                        <div class="space-6"></div>

                                        <div class="social-login center">
                                            <a class="btn btn-primary">
                                                <i class="ace-icon fa fa-facebook"></i>
                                            </a>

                                            <a class="btn btn-info">
                                                <i class="ace-icon fa fa-twitter"></i>
                                            </a>

                                            <a class="btn btn-danger">
                                                <i class="ace-icon fa fa-google-plus"></i>
                                            </a>
                                        </div>*@
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar clearfix">
                                        <div>
                                            <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                Mot de passe oublié
                                            </a>
                                        </div>

                                        <div>
                                            <a href="#" data-target="#signup-box" class="user-signup-link">
                                                Créer un compte
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->

                            <div id="forgot-box" class="forgot-box widget-box no-border @(Model != null && Model.ForgotPasswordViewModel != null ? "visible" : "")">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            Récupérer mot de passe
                                        </h4>

                                        <div class="space-6"></div>
                                        <p>
                                            Entrez votre email et pour recevoir des instructions
                                        </p>
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <form>
                                            <fieldset>
                                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.ForgotPasswordViewModel.Email, new { @class = "form-control", placeholder = "Email" })
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <div class="clearfix">
                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">Envoyer!</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    }
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            Retour connexion
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.forgot-box -->

                            <div id="signup-box" class="signup-box widget-box no-border @(Model != null && Model.RegisterViewModel != null ? "visible" : "") " >
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>
                                            Nouvel Utilisateur
                                        </h4>

                                        <div class="space-6"></div>
                                        <p> Saisir vos informations pour commencer: </p>


                                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <h4>Créer un nouvel utilisateur.</h4>
                                            <hr />
                                            @Html.ValidationSummary("", new { @class = "text-danger" })
                                            <fieldset>
                                               
                                                @*@Html.EditorFor(m=>m.RegisterViewModel.Entreprise, "Cartouche")*@

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.RegisterViewModel.Name, new { @class = "form-control", placeholder = "Prénom" })
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.RegisterViewModel.LastName, new { @class = "form-control", placeholder = "Nom" })
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>



                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.RegisterViewModel.Password, new { @class = "form-control", placeholder = "Mot de Passe", type = "password" })
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @Html.TextBoxFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmer le Mot de Passe", type = "password" })
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <label class="block">
                                                    @Html.Raw(Html.CheckBoxFor(m => m.RegisterViewModel.AcceptsTerms, new { @class = "ace", @style = "z-index: 9;" }).ToHtmlString().Replace("><", "><span class='lbl'></span><"))
                                                    <span class="lbl">
                                                        J'accepte
                                                        <a href="#">les conditions d'utilisation</a>
                                                    </span>
                                                </label>
                                                <div class="space-24"></div>

                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">Effacer</span>
                                                    </button>

                                                    <button type="submit" class="width-65 pull-right btn btn-sm btn-success">
                                                        <span class="bigger-110">S'enregistrer</span>

                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>

                                            </fieldset>

                                        }
                                    </div>

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            Retour à la Connexion
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->
                        </div><!-- /.position-relative -->

                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../../Content/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='../../Content/assets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='../../Content/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });

      
    </script>
</body>
</html>

@Scripts.Render("~/bundles/jqueryval")
