@using System.Globalization
@using EMM.FoNeke.Common.Extentions
@model DateTime?


@{
    var id = ViewData.TemplateInfo.GetFullHtmlFieldId("");
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var value = ViewData.TemplateInfo.FormattedModelValue;
    var visible = ViewData["Visible"] as bool? == false ? "style=display:none" : "";
    var libelle = string.Format("{0}_{1}", ViewData.ModelMetadata.ContainerType.Name, ViewData.ModelMetadata.PropertyName).ToLocalized();

}




<div class="form-group" id="@(id)_Group" @visible>
    <label for="@id" class="col-sm-4 control-label no-padding-right">@libelle&nbsp;:</label>
    <div class="col-sm-8">
        <div class="input-group">
            @Html.TextBoxFor(m => m,string.Format("{{0:{0}}}", CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern), new {/*type="date", */@class = "date-picker col-xs-12 col-sm-12", data_date_format = CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern.ToLower() })
            <a href="#" class="input-group-addon">
                <i class="fa fa-calendar bigger-110"></i>
            </a>
        </div>
        <div class='col-sm-4 control-label no-padding-right'></div>
        <div class="red col-sm-8">
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
   
</div>

@*<div class='form-group'>
    <label class='col-sm-4 control-label no-padding-right' for='@id'>@name&nbsp;:</label>
    <div class='col-sm-8'>
        @Html.Kendo().DatePickerFor(m => m)
        <div class="red">
            @Html.ValidationMessageFor(model => model)
        </div>
    </div>
</div>*@