@using FoNeke.Web.App_Start
@model MenuHelperModel

@helper WriteChilds(SiteMapNodeModelList nodeModelList)
{
    if (nodeModelList.Any())
    {
        <ul class="submenu">
            @foreach (var child in nodeModelList)
            {
                var icon = child.ImageUrl.TrimStart('/');
                var active = child.IsCurrentNode ? " active" : string.Empty;
                <li class="@active">
                    @if (child.Children.Any())
                    {
                        <a href="#" class="dropdown-toggle">
                            <i class="@icon"></i>
                            @child.Title
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                    }
                    else
                    {
                        <a href="@child.Url">
                            <i class="@icon"></i>
                            @child.Title
                        </a>
                    }

                    <b class="arrow"></b>
                    @WriteChilds(child.Children)
                </li>
            }
        </ul>
    }
}

<ul class="nav nav-list">
    @foreach (var node in Model.Nodes)
    {
        var icon = node.ImageUrl.TrimStart('/');
        var active = node.IsCurrentNode || node.Children.Any(n=>n.IsParentOfActive()) ? " active" : string.Empty;
        
        <li class="@active">
            @if (node.Children.Any())
            {
                <a href="#" class="dropdown-toggle">
                    <i class="@icon"></i>
                    <span class="menu-text"> @node.Title</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
            }
            else
            {
                <a href="@node.Url" >
                    <i class="@icon"></i>
                    <span class="menu-text"> @node.Title</span>
                </a>
            }
            
            <b class="arrow"></b>
            @WriteChilds(node.Children)
        </li>
    }
</ul>